/* Logo component */
.logo{
    background-image: url(../src/images/MRCAKE.PNG);
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: rgb(31, 31, 56);
}
/* NavBar component */
ul{
    background-color: rgb(31, 31, 56);
}

ul li a{
    color: white;
}

/* HeroImage component */
.hero-image{
    background-image: url(../src/images/HeroImage.webp);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Products component */
.grid-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.grid-item{
    text-align: center;
}

img{
    width: 100%;
    height: auto;
}
